@import '../../common/scss/index.scss';
.help {
  font-family: PingFang-SC-Medium;
  background-color: #ffffff;
  border: none;
  text-align: left;
  .base {
    position: absolute;
    top: 44px;
    bottom: 0;
    right: 0;
    left: 0;
    .content {
      font-size: 13px;
      line-height: 20px;
      padding: 0px 5px 20px 12px;
      color: #8A8A8A;
      .title {
        position: relative;
        height:44px;
        font-size: 15px;
        //color: $mainColorBlue;
        color:black;
        //border-bottom: 1px solid lightgrey;
        margin-top:1px;
        line-height: 44px;
        //font-weight: 900;
        &:after{
          content: '';
          height:1px;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          background-color: lightgrey;
          -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
        }
        img{
          height:20px;
          width:12px;
          float: right;
          margin-top:11px;
          margin-right:10px
        }
      }
      .titleContent{
        position: relative;
        font-size:13px;
        margin-top:15px;
        //border-bottom: 1px solid lightgrey;
        color:#646464;
        line-height: 21px;
        &:after{
          content: '';
          height:1px;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          background-color: lightgrey;
          -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
        }
      }
      .smallTitle {
        color:#2D6DEB;
        font-size:13px;
        font-weight: 520;
        //line-height:15px;
      }
      .smallTitle1 {
        color:#2D6DEB;
        font-weight: 500;
        font-size:13px
      }
      .titleContent1{
        margin-top:4px
      }
    }
  }

}
