@import "../../common/scss/index.scss";
.promoteMoney{
  background-color: #ffffff;
  $blueColor: #2D6DEB;
  $whiteColor: #ffffff;
  .title {
    height: 44px;
    background-color: #2D6DEB;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .titleLeft {
    height: 17px;
    width: 9px;
    position: absolute;
    left: 15px;
    bottom: 14px
  }

  .titleMid {
    height: 17px;
    width: 89px;
    margin: 0 auto;
    line-height: 50px;
    color: #ffffff;
    font-size: 17px
  }
  .prompt2 {
    height: 40px;
    font-size: 13px;
    background-color: #F2F2F2;
    line-height: 51px;
    color:darkgray;
  }
  .prompt2 span{
    position: absolute;
    left:5%
  }
  .prompt {
    height: 4px;
    background-color: #F2F2F2;
  }
  .table{
    position: relative;
    height:50px;
    border-bottom:1px solid #F2F2F2;
  }
  .table-leftT{
    position: absolute;
    left:5%;
    top:20%;
    font-size:16px;
    .table-leftT-span{
    font-size:12px;
      color:gray
  }
  }
  .table-leftB{
    position: absolute;
    left:5%;
    bottom:15%;
    font-size:12px;
    color:gray;
  }
  .table-noDrawMoney{
    height:20px;
    line-height: 20px;
    width:50px;
    background-color:cornflowerblue;
    border-radius: 5px;
    color:white;
    position: absolute;
    right:11%;
    top:30%;
    font-size:14px;
  }
  .table-noDrawMoney-new{
    height:20px;
    line-height: 20px;
    width:50px;
    border-radius: 5px;
    color:cornflowerblue;
    position: absolute;
    right:9%;
    top:30%;
    font-size:15px;
  }
  .table-img{
    height:20px;
    width:15px;
    position: absolute;
    right:4%;
    top:32%
  }
  .table-imgnew{
    height:20px;
    width:15px;
    position: absolute;
    top:0;
    right:-8px;
  }
  .iconfont{
    color:cornflowerblue;
    font-size:15px;
    margin-left: 8px;
  }
  .table-line{
    position: absolute;
    width:25%;
    top:5%;
    left:40%;
  }
  .table-number{
    height:12px;
    width:30px;
    font-size:14px;
    position: absolute;
    top:17%;
    left:67%
  }
  .prompt3{
    margin:25px auto;
    font-size:17px
  }
  .content-title{
    margin:25px auto;
    font-size:20px
  }
  .yes{
    height:30px;
    width:70px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    line-height: 30px;
    margin:10px auto
  }
  .initZero{
    position:absolute;
    top:465px;
    left:50%;
    color:gray;
    font-size:14px
  }
  // 圆
  .topciycle {
    height: 155px;
    width: 100%;
    padding-top: 50px;
    overflow: hidden;
    background-color: white;
    .yesmoney {
      margin: 0px auto;
    }
    .ciycle {
      height: 134px;
      width: 134px;
      margin: 0 auto 0 auto;
      margin-top: 14px;
      position: relative;
      .outCiycle {
        height: 134px;
        width: 134px;
        border-radius: 50%;
        position: absolute;
        clip: rect(0, 134px, 104px, 0px);
        .bgimg {
          width: 134px;
          height: 134px;
          background: url(../../assets/1231.png);
          background-size: 100% 100%;
          z-index: 1;
        }
        .circlebiginner {
          position: absolute;
          background: url(../../assets/line.png);
          background-size: 100% 100%;
          background-color: white;
          border-radius: 50%;
          z-index: 3;
          width: 130px;
          height: 130px;
          top: 3px;
          left: 2px;
        }
        .zhezhao{
          position: absolute;
          width: 128px;
          height: 128px;
          top: 3px;
          left: 3px;
          background: url(../../assets/666.png);
          background-size: 100% 100%;
          background-color: white;
          border-radius: 50%;
          z-index: 3;
        }
      }
    }
  }

  .circlebiginner-left {
    height: 10px;
    width: 7px;
    position: absolute;
    top: 120px;
    left: 10px;
    font-size: 12px;
    color: #646464;
    text-decoration:none

  }

  .circlebiginner-right {
    height: 12px;
    width: 100px;
    position: absolute;
    top: 120px;
    left: 75px;
    font-size: 12px;
    color: #646464;
    text-decoration:none
  }


  .circleinner2 {
    position: absolute;
    width: 104px;
    height: 104px;
    top: 15px;
    left: 15px;
    background: #2D6DEB;
    border-radius: 50%;
    z-index: 4;
    /*box-shadow: 1px 1px 15px #43D2C3;*/
    color: white;
  }

  .circleinner2 span {
    font-size: 11px;
    line-height: 80px;
    text-align: center;
  }

  .circleinner2 div {
    font-size: 17px;
    //position: absolute;
    //top: 50px;
    margin-top:-28px;
    left: 25px
  }

  .transfer {
    width: 134px;
    height: 134px;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0, 67px, 67px, 0px);
    background-color: #2D6DEB;
    border-radius: 50%;
    z-index: 2;
    border-radius: 50%;
    transform: rotate(235deg);
  }

  .transfer-block {
    position: absolute;
    height: 134px;
    width: 134px;
    right: 0;
    z-index: 10;
    top: 0;
  }

  .transfer-score {
    position: absolute;
    width: auto;
    height: 20px;
    top: 1px;
    right: 23px;
    color: cornflowerblue;
    font-size:12px;
    text-decoration:none
  }

  .transfer-score.rightscore {
    right: -27px;
  }

  .transfer-circle {
    margin-left: 10px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -9px;
    right: 67px;
    margin-right: -11px;
    line-height: 20px;
    background: url(../../assets/transfercircle.png);
    background-size: 100% 100%;
    margin-right: -11px
  }

  .inCiycle {
    height: 69px;
    width: 69px;
    border-radius: 50%;
    position: absolute;
  }
}
