@import "../../common/scss/index.scss";
.repayment{
  .title {
    height: 44px;
    background-color: #2D6DEB;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
  }
  img {
    height: 100%;
    widht: 100%

  }
  .titleLeft {
    height: 17px;
    width: 9px;
    position: absolute;
    left: 15px;
    bottom: 14px

  }

  .titleMid {
    height: 17px;
    width: 150px;
    margin: 0 auto;
    line-height: 50px;
    color: #ffffff;
    font-size: 17px

  }
  .table{
    margin-top:44px;
  }
  .play-table {
    height: 61px;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
    background-color: white;
  }
  .play-table-date {
    float: left;
    font-size: 13px;
    margin-left: 5%;
    line-height: 45px;
  }

  .play-table-money {
    float: right;
    font-size: 13px;
    margin-right: 5%;
    line-height: 45px;
  }

  .play-table-name {
    float: left;
    font-size: 11px;
    margin-left: 5%;
    bottom: 5px;
    position: absolute;
    color: lightgrey;
  }

  .play-table-count {
    float: right;
    font-size: 11px;
    right: 5%;
    bottom: 5px;
    position: absolute;
    color: lightgrey;
  }
}
