@mixin topHeader() {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

@mixin border($color) {
    border: none;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        background: $color;
        width: 100%;
        height: 1px;
        left: 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@mixin border-1px() {
    position: relative;
    &:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #e6e6e6;
        content: ' ';
    }
}

@mixin border-none() {
    &:after {
        display: none
    }
}
// 扩展点击区域
@mixin extend-click() {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
}

@mixin btn($width) {
    width: 100px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    border-radius: 40px;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:active {
        font-size: 15px;
    }
}

@mixin border_top($color) {
    border: none;
    &:after {
        content: '';
        position: absolute;
        background: $color;
        width: 100%;
        height: 1px;
        left: 0;
        top: 0;
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@mixin border_bottom($color) {
    border: none;
    &:after {
        content: '';
        position: absolute;
        background: $color;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@mixin border_bottom2($color) {
  border: none;
  &:after {
    content: '';
    position: absolute;
    background: $color;
    width: 80%;
    height: 1px;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@mixin cell() {
  display: flex;
  height: 48px;
  line-height: 48px;
  padding: 0 10px 0 0px;
  font-size: 15px;
  color: #323232;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;
  align-content: space-between;
  .title {
    flex: 0 0 90px;
    margin-right: auto;
  }
  .titleMore {
    flex: 0 0 115px;
    margin-right: auto;
  }
  .dateStart {
    flex: 0 0 90px;
    text-align: left;
  }
  .separation {
    flex: 0 0 16px;
  }
  .dateEnd {
    flex: 0 0 90px;
    text-align: right;
  }
  .value {
    flex: 1;
    text-align: right;
    padding-right: 2px;
    input {
      display: right;
      border: none;
      outline: 0;
      width: 96%;
      text-align: right;
      line-height: 46px;
      font-size: 14px;
    }
  }
  .clear {
    flex: 0 0 15px;
    margin-left: 5px;
    color: #dddddd;
    .arrow_right{
      display: inline-block;
      background: url('../../common/images/arrow_right.png') no-repeat;
      width: 13px;
      height: 48px;
      line-height: 48px;
      content: ' '
    }
  }
}
