@import '../common/scss/mixin.scss';
@import '../common/scss/common.scss';

header {
  // @include border-1px();
  @include topHeader();
  width: 100%;
  height: 44px;
  font-size: 18px;
  color: #ffffff;
  background-color: #2D6DEB;
  .text {
    width: 100%;
    line-height: 44px;
    text-align: center;
  }
  .back-img {
    width: 10px;
    height: 17px;
    background-image: url('../assets/nav_btn_back@2x.png');
    background-size: 100% 100%;
    @include extend-click();
    position: absolute;
    top: 13px;
    left: 15px;
  }
  .logo {
    width: 50px;
    height: 44px;
    line-height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    //&:active {
    //  border-radius: $borderRadius;
    //  background-color: rgba(17, 175, 153, .6)
    //}
    .iconHelp{
      font-size: 22px;
    }
  }
}
